@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to Safe bank!</h1>
    <h5>Your trusted bank account provider!</h5>
    <img class="mt-5" width="400px" style="border: 2px solid black; box-shadow: 0px 0px 10px #0003;" src="./media/bank-card.png"/>
</div>