@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav>
    <a class="nav__brand" asp-area="" asp-controller="Home" asp-action="Index">SafeBank</a>
    <div class="nav__menu">
        @if (!SignInManager.IsSignedIn(User))
        {
            <a class="nav__register" asp-controller="Account" asp-action="Register">Create Account</a>
            <a class="nav__btn nav__btn--login" asp-controller="Account" asp-action="Login">Login</a>
        }
        else
        {
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <partial name="_AdminPanel"/>
            }

            <partial name="_Notifications" />

            <div class="nav__menu__option">
                <i class="material-icons">person</i>
                <div class="nav__menu__option__submenu">
                    <div class="nav__menu__option__submenu__user-header">
                        <i class="material-icons">account_circle</i>
                        @UserManager.GetUserAsync(User).Result.FullName
                    </div>
                    <a asp-controller="Account" asp-action="Index" class="nav__menu__option__submenu__item">My account</a>
                    <a asp-controller="Account" asp-action="Payment" class="nav__menu__option__submenu__item">Make payment</a>
                    <a asp-controller="Account" asp-action="Settings" class="nav__menu__option__submenu__item">Settings</a>
                </div>
            </div>

            <form id="logout_form" asp-controller="Account" asp-action="Logout" method="post">
                <a href="javascript:{}" onclick="document.getElementById('logout_form').submit();" class="nav__btn nav__btn--logout">Logout</a>
            </form>
        }
    </div>
</nav>