@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using SafeBank.Data;
@inject NotificationRepository notificationRepository
@inject UserManager<User> userManager
@inject AccountRepository accountRepository
@inject UserRepository userRepository

@{
    var currentUser = userManager.GetUserAsync(User).Result;
    var result = notificationRepository.GetNotificationsByUser(currentUser);
}


<div class="nav__menu__option">
    <i class="material-icons">
        notifications

        @if (result.Count() > 0)
        {
            <span></span>
        }
    </i>

    <div class="nav__menu__option__submenu">
        <div class="nav__menu__option__submenu__notifications-header">
            <i class="material-icons">notifications</i>
            Notifications
            @if(result.Count < 1)
            {
                <span class="nav__menu__option__submenu__notifications-header__title">Click notification to delete it.</span>
            }
        </div>

        @if (result.Count() < 1)
        {
            <div class="nav__menu__option__submenu__item">You have no new notifications!</div>
        }
        else
        {
            foreach (var noti in result)
            {
                var sender = userRepository.GetUserByAccountIBAN(noti.Transaction.Sender);
                var recipient = userRepository.GetUserByAccountIBAN(noti.Transaction.Recipient);

                if (noti.Transaction.Sender == accountRepository.GetAccountByOwner(currentUser).IBAN)
                {
                    @Html.ActionLink($"You sent {noti.Transaction.Amount}$ to {recipient.FullName}.", "Delete", "Notification", new { id = noti.Id, returnUrl = ViewContext.HttpContext.Request.Path }, new { @class = "nav__menu__option__submenu__item" });
                }
                else
                {
                    @Html.ActionLink($"You received {noti.Transaction.Amount}$ from {sender.FullName}.", "Delete", "Notification", new { id = noti.Id, returnUrl = ViewContext.HttpContext.Request.Path }, new { @class = "nav__menu__option__submenu__item" });
                }
            }
        }
    </div>
</div>