@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="nav__menu__option">
    <i class="material-icons">notifications</i>
    <div class="nav__menu__option__submenu">
        <div class="nav__menu__option__submenu__notifications-header">
            <i class="material-icons">notifications</i>
            Notifications
        </div>
        <div class="nav__menu__option__submenu__item">Your last payment for 29.13$ was succesful!</div>
        <div class="nav__menu__option__submenu__item">Account charged $10 for netflix subscription.</div>
        <div class="nav__menu__option__submenu__item">Technical break on next friday (13.01.2023).</div>
    </div>
</div>

<div class="nav__menu__option">
    <i class="material-icons">person</i>
    <div class="nav__menu__option__submenu">
        <div class="nav__menu__option__submenu__user-header">
            <i class="material-icons">account_circle</i>
            John Doe
        </div>
        <div class="nav__menu__option__submenu__item">My account</div>
        <div class="nav__menu__option__submenu__item">Make payment</div>
        <div class="nav__menu__option__submenu__item">Settings</div>
    </div>
</div>

<a class="nav__btn nav__btn--logout" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>