@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="dropdown">
    <img src="~/logo.svg" title="Logo" alt="Logo" height="32" class="d-inline-block dropdown-toggle" data-bs-toggle="dropdown"/>

    <ul class="dropdown-menu dropdown-menu-end mt-3 dropdown-box-shadow">
        <li><span class="dropdown-header">Actions</span></li>
        <li><a class="dropdown-item" href="#">Make payment</a></li>
        <li><a class="dropdown-item" href="#">Check balance</a></li>
        <li><a class="dropdown-item" href="#">Account settings</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Log out</a></li>
    </ul>
</div>