@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="nav-option">
    <i class="material-icons">notifications</i>
    <span>Notifications</span>
    <i class="material-icons">expand_more</i>
</a>

<a class="nav-option">
    <i class="material-icons">person</i>
    <span>Name Surname</span>
    <i class="material-icons">expand_more</i>
    <div class="nav-option-submenu">
        <span>
            <i class="material-icons">account_circle</i>
            My account
        </span>
        <span>
            <i class="material-icons">payments</i>
            Make payment
        </span>
        <span>
            <i class="material-icons">settings</i>
            Settings
        </span>
    </div>
</a>

<a class="nav-logout" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>