@{
    ViewData["Title"] = "Account";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject AccountRepository AccountRepository
@{
    var user = UserManager.GetUserAsync(User).Result;
}

<div class="account-container">
    <h1>Account</h1>
    <h6>Welcome to account details page.</h6>
    <hr />
    <h4>Hi, @user.FullName!</h4>
    Welcome to your account. Here you can access all important account information.
    <br /><br />
    <h3>
        Account no:<br />
        <span class="account-container__info">@AccountRepository.GetAccountByOwner(user).IBAN</span>
    </h3>
    <br />
    <h3>Balance:<br />
        <span class="account-container__info">@AccountRepository.GetAccountByOwner(UserManager.GetUserAsync(User).Result).Balance.ToString("#,##0.00", new System.Globalization.CultureInfo("en-US"))$</span>
    </h3>
    <br />
    <div class="account-options">
        <a class="account-options__option" asp-controller="Account" asp-action="Payment">Make payment</a>
        <a class="account-options__option" asp-controller="Account" asp-action="History">History</a>
        <a class="account-options__option" asp-controller="Account" asp-action="Settings">Account settings</a>
    </div>
</div>