@{
    ViewData["Title"] = "New payment";

    // Search user by account id
    // AppUser user = appDbContext.Users.Where(user => user.AccountNumber == 10000).FirstOrDefault();
}
@using SafeBank.Models.ViewModels
@model PaymentViewModel

<div class="account-container">
    <form asp-controller="Account" asp-action="Payment" method="post" role="form">
        <h1>Login to your account</h1>
        <hr />
        <div class="account-container__panel">
            <div>
                <label asp-for="SenderAccountNo" class="title"></label>
                <input readonly asp-for="SenderAccountNo" value="@Model.SenderAccountNo" placeholder="Enter recipient account number" />
                <span asp-validation-for="SenderAccountNo" class="hint"></span>
            </div>

            <div>
                <label asp-for="RecipientAccountNo" class="title"></label>
                <input asp-for="RecipientAccountNo" placeholder="Enter recipient account number" />
                <span asp-validation-for="RecipientAccountNo" class="hint"></span>
            </div>

            <div>
                <label asp-for="Title" class="title"></label>
                <input asp-for="Title" placeholder="Enter payment title" />
                <span asp-validation-for="Title" class="hint"></span>
            </div>

            <div>
                <label asp-for="Amount" class="title"></label>
                <input min="0" asp-for="Amount" placeholder="Enter amount" />
                <span asp-validation-for="Amount" class="hint"></span>
            </div>
        </div>
        <br />
        <button class="account-container__panel__submit" type="submit">Make payment</button>
    </form>
</div>